#EnrollHere{
    background-image: url('../../public/bg8.jpg');
    background-size: 500px;
    background-position: top;
}

#tmcshscolor{
    color: #FFA500;
}

#Enrollhead{
    font-family: 'Trebuchet MS';
    font-size: large;
    color: darkred;
    outline-color: darkred;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 50px 0px 0px 120px;
}

#Enrollbody{
    display: flex;
    flex-direction: column;
}

.welcomebro{
    font-family: sans-serif;
    padding: 20px 0px 20px 120px;
    display: flex;
    flex-direction: column;
    line-height: 1in;
}


.track-bro:hover{
    color: #FFA500;
    font-size: large;
}

.track-enroll:hover{
    color: darkred;
}

#lezgoEnroll{
    background-color: darkgoldenrod;
    padding: 20px;
}

#enrolllink{
    text-decoration: none;
    color: white;
}

#enrollna{
    width: 1000px;
}

.backgroundlang{
    background-color: white;
    padding: 50px;
    line-height: 0.5in;
}

.indentbro{
    text-indent: 0.5in;
    display: flex;
    flex-direction: column;
}

#fbpagelink{
    text-decoration: none;
    color: red;
}