#lawin{
    color: darkorange;
}

#sphoto{
    width: 350px;
}

.introduction{
    background-color: darkred;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 50px;
    display: flex;
    flex-direction: row;
    padding: 30px 100px;
    gap: 100px;
    text-justify: distribute-all-lines;
    font-size: x-large;
    justify-content: space-around;
    align-items: center;
}

#introLink{
    display: flex;
    flex-direction: column;
}

#introToAboutMe{
    text-decoration: none;
    color: lightsalmon;
    font-size: large;
    padding: 10px;
}

#strandlink{
    text-decoration: none;
    color: darkslategray;
}

.strands{
    background-image: url('../../public/bg1.jpg');
    background-position: right;
    background-size: 1500px;
    color: darkslategray;
    font-family: sans-serif;
    line-height: 50px;
    display: flex;
    flex-direction: row;
    padding: 30px 80px;
    gap: 80px;
    text-justify: distribute-all-lines;
    font-size: large;
    justify-content: space-around;
    align-items: center;
    justify-content: flex-start;
}

.strands2{
    display: flex;
    flex-direction: column;
}

#strand{
    font-family: sans-serif;
    color: darkred;
}

.columns{
    display: flex;
    flex-direction: row;
    gap: 50px;
    text-indent: 50px;
}

.columns2{
    display: flex;
    flex-direction: row;
    gap: 50px;
    text-indent: 50px;
    padding: 10px 0px;
}


.rows{
    display: flex;
    flex-direction: column;
    font-size: large;
}

#tracks{
    font-size: x-large;
    padding: 0px 50px;
}

#tracks1{
    font-size: x-large;
    padding: 0px 50px;
}

.home{
    background-image: url('../../public/bg1.jpg');
    background-position: right;
    background-size: 1500px;

    display: flex;
    flex-direction: row;
}

#wclawins{
    font-family: 'Trebuchet MS';
    font-size: x-large;
    color: #987554;
    outline-color: darkred;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 100px;
}

.choice{
    color: white;
    font-size: larger;
}

.choiceSF{
    color: white;
    font-size: medium;
    text-decoration: none;
}

#td2{
    border: 0pt;
    background-color: black;
    opacity: 40%;
    margin: 0px;
    padding: 20px;
}

#homechoices{
    padding: 50px;
}

.track-row:hover {
    color: darkgoldenrod;
}

.track-column:hover {
    color: whitesmoke;
    font-size: x-large;
}

.track-SF:hover {
    color: darkgoldenrod;
    font-size: large;
}

#introchild{
    padding: 0px 0px 20px 0px;
}

.SFbg{
    background-image: url('../../public/bg8.jpg');
    display: flex;
    flex-direction: column;
}

.SF{
    background-image: url('../../public/bg8.jpg');
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    padding: 50px;
}

#SFhead1{
    color: darkred;
}

#SFhead2{
    color: #FFA500;
}

.SFchoices{
    padding: 0px 100px 50px 100px;
}

#tdSF{
    border: 0pt;
    background-color: darkred;
    margin: 0px;
    padding: 20px;
}

.comlabRow{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tvlRow{
    display: flex;
    flex-direction: row;
    align-items: top;
}

#comlabDesc{
    display: flex;
    padding: 20px 0px 50px 150px;
    text-indent: 0.5in;
    line-height: 0.45in;
    text-align: justify;
}

#scilabDesc{
    display: flex;
    padding: 20px 150px 50px 0px;
    text-indent: 0.5in;
    line-height: 0.45in;
    text-align: justify;
    color: white;
}

#tvlDesc{
    display: flex;
    padding: 0px 150px;
    text-indent: 0.5in;
    line-height: 0.45in;
    text-align: justify;
}

#tvlDesc2{
    display: flex;
    padding: 0px 150px 0px 50px;
    text-indent: 0.5in;
    line-height: 0.45in;
    text-align: justify;
}

#courtDesc{
    display: flex;
    padding: 20px 0px 50px 150px;
    text-indent: 0.5in;
    line-height: 0.45in;
    text-align: justify;
}

#comlabPic{
    width: 450px;
    display: flex;
    padding: 50px 150px 50px 100px;
}

.scilabBG{
    background-color: darkred;
    display: flex;
    flex-direction: row;
}

.courtBG{
    background-image: url('../../public/bg8.jpg');
    display: flex;
    flex-direction: row;
}

#comlab{
    padding: 0px 150px;
}

#library{
    padding: 90px 150px 0px 0px;
    color: white;
}

#court{
    padding: 50px 150px 0px 150px;
}

#TVLroom{
    padding: 50px 50px 0px 150px;
}

#TVLroom2{
    padding: 50px 150px 10px 50px;
}

#scilab{
    padding: 50px 150px 0px 0px;
    color: white;
}

#scilabPic{
    width: 450px;
    display: flex;
    padding: 50px 150px;
}

.tvlPics{
    display: flex;
    align-items: center;
}


#tvlPic{
    width: 400px;
    padding: 20px 150px 50px 150px;
}

#tvlPic2{
    width: 400px;
    padding: 20px 150px 50px 50px;
}
.tvlColumn{
    background-image: url('../../public/bg8.jpg');
    display: flex;
    flex-direction: column;
}