.stemrow{
    display: flex;
    flex-direction: column;
    background-image: url('../../public/bg2.png');
    background-size: 850px;
    background-position: top;
    
}

.stemHead{
    font-family: 'monospace';
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 40pt;

}

#stemlogo{
    width: 120px;
    padding: 20px 0px;
}

.stemIntro{
    color: black;
    text-indent: 0.5in;
    font-family: monospace;
    font-size: large;
    padding: 12px 185px;
    line-height: 40px;
    text-align: justify;
    position: relative;

}

#cPath{
    width: 400px;
    height: 200px;
    display: flex;
    object-fit: contain;
}

#cPathText{
    width: 350px;
    height: 200px;
    display: flex;
    padding: 0px 50px 0px 0px;
    object-fit: contain;
}

.stemCpath{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    gap: 20px;
}

#stemRequireHead{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    padding: 40px 185px;
    font-size: large;
}

.stemRequirements{
    background-image: url('../../public/bg3.png');
    background-position: left;
    background-size: 1500px;
    background-position-y: 100%;
    display: flex;
    flex-direction: column;
}

.stemRequireRow{
    display: flex;
    flex-direction: column;
    color: white;
    text-indent: 0.5in;
    font-family: monospace;
    font-size: large;
    padding: 12px 185px;
    line-height: 40px;
    text-align: justify;
    position: relative;
    bottom: 20px;
}

#stemSub{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    padding: 40px 185px;
    display: flex;
    justify-content: center;
}

.stemSubjects{
    background-image: url('../../public/bg2.png');
    background-position: top;
    background-size: 900px;
    background-color: white;
    display: flex;
    flex-direction: column;
    color: black;
}

#STEMtable, td, th{
    margin: 0px 150px 50px 150px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    background-color: antiquewhite;
    padding: 10px;
}

th{
    background-color: darkred;
    color: white;
    padding: 10px;
}

